<div class="notification-card" [ngClass]="'notification-card__state--' + newNotification.state">
    <div class="flex flex-row flex items-center ">
        <mat-icon class="mr-3">{{newNotification.icon}}</mat-icon>
        <div class="text-xs w-72 font-bold">
            <p class="mb-2">{{newNotification.time}}</p>
            <p>{{newNotification.content}}</p>
        </div>
        <!-- <button (click)="selectNewNotificationEvent.emit(newNotification.id)" class="classBtn" mat-menu-item [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon class="classMenu" [ngClass]="'doctor-card__subMenu--' + newNotification.subMenu">more_horiz
            </mat-icon>
        </button> -->
        <button (click)="selectNewNotificationEvent.emit(newNotification.id)" #closeBtn class="classBtn focus:outline-none" mat-menu-item [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon class="classMenu" [ngClass]="'notification-card__subMenu--' + newNotification.subMenu">more_horiz
            </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="after" class="text-sm">
            <button mat-menu-item class="focus:outline-none" (click)="openSnackBar()">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
            </button>
            <button mat-menu-item class="focus:outline-none" (click)="openSnackBar()">
                <mat-icon>notifications_off</mat-icon>
                <span>Desactivar</span>
            </button>
        </mat-menu>
    </div>
</div>
