<div>
  <div>
    <img class="w-screen " src="assets/img/backgroun01.png" height="300px">
    <mat-card class="h-auto car content-end">
      <mat-card-header><img class="image" src="assets/avatar/avatar01.png"></mat-card-header>
      <mat-card-content class="mt-16 text-lg text-red-500 font-medium ubuntu">
        Rafaela Santos Medrano</mat-card-content>
    </mat-card>
    <button
      class="buttonrc focus:outline-none space-x-8 bg-white ubuntu border-2 border-red-400 rounded-2xl font-medium py-2 px-4 rounded inline-flex items-center">
      <mat-icon class="fill-current w-4 h-4 text-red-600">vpn_key</mat-icon>
      <span class="text-justify font-bold text-sm">CAMBIAR <br> CONTRASEÑA</span>
    </button>
  </div>
  <div class="w-full mb-5 flex-wrap">
    <div class="flex space-x-4 mx-28">
      <div class="flex-1">
        <mat-card class="border">
          <div class="flex items-center text-red-500 font-medium ubuntu">
            <mat-icon class="mr-2">account_circle</mat-icon>Tipo de perfil
          </div>
          <span class="text-lg my-2 umono ml-2">Administrador</span>
        </mat-card>
      </div>
      <div class="flex-1">
        <mat-card class="border">
          <div class="flex items-center text-red-500 font-medium ubuntu">
            <mat-icon class="mr-2">email</mat-icon>Email
          </div>
          <span class="text-lg my-2 umono ml-2">KevinJavier010</span>
        </mat-card>
      </div>
      <div class="flex-1">
        <mat-card class="border">
          <div class="flex items-center text-red-500 font-medium ubuntu">
            <mat-icon class="mr-2">stay_current_portrait</mat-icon>Telefono
          </div>
          <span class="text-lg my-2 umono ml-2">456789077</span>
        </mat-card>
      </div>
      <div class="flex-1">
        <mat-card class="border">
          <div class="flex items-center text-red-500 font-medium ubuntu">
            <mat-icon class="mr-2">help_outline</mat-icon>Ayuda
          </div>
          <span class="text-lg my-2 umono ml-2">ayuda@notifai.com</span>
        </mat-card>
      </div>
    </div>
  </div>
</div>