<mat-dialog-content style="width: 600px; height: 350px; padding-top: 20px; font-family: ubuntu;">
    <img class="mx-auto" src="../../../../../../assets/img/called.svg" alt="image">
    <h3 class="text-5xl font-light text-center my-8">Llamada Lanzada</h3>
    <p class="text-center">La llamada ya se solicitó</p>
    <button></button>
</mat-dialog-content>
<mat-dialog-actions class="justify-center pb-8">
    <button mat-button [mat-dialog-close]="true" class="focus:outline-none w-96 bg-red-100 text-red-500">Ok</button>
</mat-dialog-actions>