<div class="flex space-x-4 mx-28">
  <div class="flex-1">
    <mat-card class="border">
      <!--cabecera-->
      <mat-card-header class="text-red-500">
        <mat-icon aria-hidden="false">account_circle</mat-icon>
        <mat-card-title>Tipo de perfil</mat-card-title>
      </mat-card-header>
      <!--contenido-->
      <mat-card-content>
        <span>Administrador</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex-1">
    <mat-card class="border">
      <!--cabecera-->
      <mat-card-header class="text-red-500">
        <mat-icon>email</mat-icon>
        <mat-card-title>Email</mat-card-title>
      </mat-card-header>
      <!--contenido-->
      <mat-card-content>
        <span>KevinJavier010</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex-1">
    <mat-card class="border">
      <!--cabecera-->
      <mat-card-header class="text-red-500">
        <mat-icon>stay_current_portrait</mat-icon>
        <mat-card-title>Telefono</mat-card-title>
      </mat-card-header>
      <!--contenido-->
      <mat-card-content>
        <span>456789077</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex-1">
    <mat-card class="border">
      <!--cabecera-->
      <mat-card-header class="text-red-500">
        <mat-icon>help_outline</mat-icon>
        <mat-card-title>Ayuda</mat-card-title>
      </mat-card-header>
      <!--contenido-->
      <mat-card-content>
        <span>ayuda@notifai.com</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
